.background {
    background-image: url('images/background-change.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body, html {
    position: relative;
    height: 100%;
    margin: 0;

}

@media screen and (min-width: 1200px) {
.button-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 2%;
    padding-right: 2%;
}
}

@media screen and (max-width: 1200px) {
    .button-container {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 2%;
        padding-right: 2%;
    }
}

@media screen and (max-width: 1200px) {
    .responsive-button { 
        width: 100%;
        height: auto; /* Для сохранения пропорций */
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: rgba(57, 57, 57, 0.9);
        border-color: rgba(173, 173, 173, 1);
        border-radius: 25px;
        border-width: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}

@media screen and (min-width: 1200px) {
    .responsive-button {
        height: 75px;
        width: 250px;
        padding: 10px 20px;
        font-size: 32px;
        color: white;
        background-color: rgba(57, 57, 57, 0.9);
        border-color: rgba(173, 173, 173, 1);
        border-radius: 25px;
        border-width: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}
.responsive-button:hover {
    transform: scale(1.1);
}


@media screen and (min-width: 1200px) {
    .new-button-group {
        width: 800px;
        height: 600px;
        overflow-y: auto; /* вертикальный скролл */
        padding: 10px 20px;
        background-color: rgba(57, 57, 57, 0.9);
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        transform: translate(-50%, -50%);
        flex-direction: column;
        gap: 20px;
        padding-top: 2%;
        padding-right: 2%;
        padding-bottom: 50px;
        overflow-x:hidden;
    }
}

@media screen and (max-width: 1200px) {
    .new-button-group {
        width: 75%;
        height: 60%;
        overflow-y: auto; /* вертикальный скролл */
        padding: 10px 20px;
        background-color: rgba(57, 57, 57, 0.9);
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        transform: translate(-50%, -50%);
        flex-direction: column;
        gap: 20px;
        padding-top: 2%;
        padding-right: 2%;
        padding-bottom: 50px;
        transform: translate(-50%, -60%);
    }
}

@media screen and (min-width: 1200px) {
    .new-button-group button {
        height: auto;
        font-size: 32px;
        font-weight: bold;
        color: white;
        background-color: rgba(235, 235, 235, 0.9);
        border-color: rgb(0, 0, 0);
        border-radius: 25px;
        border-width: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;
        width: 90%; /* Задайте ширину кнопки равной ширине контейнера */
        margin-bottom: 10px; /* Добавьте отступ снизу для разделения кнопок */
        margin: auto;
    }
}

@media screen and (max-width: 1200px) {
    .new-button-group button {
        height: auto;
        font-size: 32px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        background-color: rgba(235, 235, 235, 0.9);
        border-color: rgb(0, 0, 0);
        border-radius: 25px;
        border-width: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;
        width: 90%; /* Задайте ширину кнопки равной ширине контейнера */
        margin-bottom: 10px; /* Добавьте отступ снизу для разделения кнопок */
        margin: auto;
    }
}


@media screen and (min-width: 1200px) {
    .custom-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        border-radius: 25px;
        border-width: 5px;
        border-color: #000000;
        background-color: #ffffff; /* Пример фона, можно изменить */
        cursor: pointer;
        height: auto;
        transition: all 0.3s ease;
        gap: 20px;
    }
}
@media screen and (max-width: 1200px) {
    .custom-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        border-radius: 25px;
        border-width: 5px;
        border-color: #000000;
        background-color: #ffffff; /* Пример фона, можно изменить */
        cursor: pointer;
        height: auto;
        transition: all 0.3s ease;
        gap: 20px;
    }
}


@media screen and (min-width: 1200px) {
    .button-image {
        width: auto; /* Установите размер изображения */
        max-width: 50%;
        height: 200px; /* Установите размер изображения */ 
    }
}

@media screen and (max-width: 1200px) {
    .button-image {
        width: 90%; /* Установите размер изображения */
        height: auto; /* Установите размер изображения */ 
    }
}

@media screen and (min-width: 1200px) {
    .button-text {
        font-size: 32px; /* Установите размер шрифта */
        color: #000000; /* Установите цвет текста */
    }
}
.add-button {
    background:transparent !important;
    font-size: 32px;
    color: white !important;
    border: none !important;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-button:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 1200px) {
    .button-wrapper {
        position: relative;
        display: inline-block; /* Или используйте flexbox для центрирования */
        cursor: pointer;
        transition: all 0.3s ease;
        
    }
}
@media screen and (max-width: 1200px) {
    .button-wrapper {
        position: relative;
        display:flex;
        flex-direction: row; /* Или используйте flexbox для центрирования */
        cursor: pointer;
        transition: all 0.3s ease;
        align-items: center;
        justify-content: center;
    }
}
.button-wrapper:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 1200px) {
    .delete-button {
        width: auto !important;
        height: 50% !important;
        position: absolute;
        border: none !important;
        background: none !important;
        top: 25%; /* Позиционируйте кнопку удаления сверху */
        right: 10%; /* Позиционируйте кнопку удаления справа */
        /* Добавьте стили для кнопки удаления */
    }
}

@media screen and (max-width: 1200px) {
    .delete-button {
        width: 50% !important;
        height: auto !important;
        margin-top: 10px; /* Добавьте отступ снизу для разделения кнопок */
        border: none !important;
        background: none !important;
        margin-bottom: 20% !important;
        margin: auto;
    }
}