.background {
    background-image: url('images/background-index.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40%;
}

.generating-button, .adding-button {
    height: 85px;
    width: 512px;
    padding: 10px 20px;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 25px;
    background-color: #393939;
    border-color: rgba(173, 173, 173, 1);
    border-width: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.generating-button:hover, .adding-button:hover {
    transform: scale(1.1);
}

.window-adding-exercise {
    width: 90%;
    height: 80%;
    padding: 10px;
    border: 0;
    background-color: #575757;
}

.head-window-adding-exercise{
    grid-area: header;
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-weight: bold;
    color: aliceblue;
    background-color: #393939
}

.close-window-adding-exercise {
    display: inline;
    height: 100%;
    width: 45px;
    color: #A16A6A;
    background-color: #1D1C1C;
    float: right;
}

.name-exercise {
    grid-area: name;
    box-sizing: border-box;
    width: 100%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    background-color: #393939;
    border: 0;
}

.type-exercise {
    grid-area: selector;
    width: 100%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    background-color: #393939;
    border: 0;
}

.explanation-field-load-main-foto,
.explanation-field-load-instructions-foto,
.explanation-field-description-exercise-technique,
.load-main-foto,
.load-instructions-foto,
.description-exercise-technique {
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    background-color: #393939;
    border-color: #1D1C1C;
    margin: 0;
    padding: 10px;
}

.explanation-field-load-main-foto {
    grid-area: first-explanatory-note;
}

.explanation-field-load-instructions-foto {
    grid-area: second-explanatory-note;
}

.explanation-field-description-exercise-technique {
    grid-area: third-explanatory-note;
}

.load-main-foto,
.load-instructions-foto {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.load-main-foto {
    grid-area: first-download-block;
}

.load-instructions-foto {
    grid-area: second-download-block;
}

.description-exercise-technique {
    text-align: start;
    grid-area: description-block;
    resize: none;
}

img {
    width: 100%;
}

.download-button {
    width: 100%;
    padding: 0.5em;
    font-size: 100%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 25px;
    background-color: #393939;
    border-color: rgba(173, 173, 173, 1);
    border-width: 5px;
    cursor: pointer;
}

.done-button {
    grid-area: done-button;
    align-self: center;
    text-align: center;
    padding: 0.5em 1em;
    font-size: 100%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 25px;
    background-color: #393939;
    border-color: rgba(173, 173, 173, 1);
    border-width: 5px;
    cursor: pointer;
}


/* @media screen and (max-width: 450px) {
    .window-adding-exercise {
        width: 100%;
        height: 70%;
    }

    .explanation-fields {
        flex-direction: column;
        align-items: center;
    }
} */