body, html {
    background-image: url("images/background-change.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: auto;
}

.menu_container{
    overflow-wrap: break-word;
    display: flex;
    width: 50%;
    min-height: 5%;
    margin: 2% 0;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
}

.m_button{
    box-sizing: border-box;
    height: 100%;
    width: 30%;
    background-color: #393939E5;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    border-radius: 25px;
    border-width: 5px;
    border-style: solid;
    padding: 0 2%;
    border-color: #ADADAD;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.exercises_container {
    background-color: rgba(52, 52, 52, 0.75);
    width: 60%;
    max-height: 80%;
    margin-top: 20px;
    overflow-y: auto;
    align-self: center;
}

.container {
    display: grid;
    margin: 1%;
    grid-template-columns: 93% 7%;
    grid-template-areas: "exercise del";
    grid-template-rows: 80px;
    gap: 0;
}

.ex_button{
    display: grid;
    grid-area: exercise;
    grid-template-columns: 35% 65%;
    grid-template-areas: "icon name";
    grid-template-rows: 100%;
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

.ex_button span {
    grid-area: name;
    align-self: center;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    overflow-wrap: break-word;
    text-align: left;
}

.ex_image {
    grid-area: icon; 
    max-width: 80%; 
    max-height: 80%;
    align-self: center;
    justify-self: center;
    object-fit: contain;
}

.del_button {
    grid-area: del;
    font-size: 1.5em;
    color: red;
    border: 0;
    padding: 0 3%;
    text-align: center;
}

.st_button, .save_button{
    position: sticky;
    width: 100%;
    background-color: #686666;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    margin: 0;
}


.modalExercise,
.modalExtra {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    overflow-y: auto;
    display: none;
}

.modalMain,
.modalMainExtra {
    position: relative;
    width: 60%;
    background-color: rgb(68, 68, 68);
    margin: auto;
    color: white;
    cursor: default;
    display: block;
}

.modalMain .header,
.modalMainExtra .header{
    display: grid;
    width: 100%;
    grid-template-columns: 92% 8%;
    grid-template-areas: "name exit";
    background-color: #393939;
    margin-bottom: 10px;
}

.header .modalTitle {
    grid-area: name;
    font-size: 1.7em;
    text-align: center;
    width: 100%;
    margin: 2% 0;
    overflow-wrap: break-word;
}

.header .closeButton {
    grid-area: exit;
    cursor: pointer;
    font-size: 1em;
    border:0;
    padding: 0%;
    width: 3rem;
    color: #A16A6A;
    background-color: #1D1C1C;
}

.modalMain img {
    width: 50%;
    max-width: 100%; 
    display: block;   
    margin: 0 auto;  
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descriptionContainer h3 {
    font-size: 1.1em;
    width:100%;
    height: 100%;
    background-color: #393939;
    text-align: center;
    margin: 10px 10px;
}

.descriptionContainer p {
    font-size: 24px;
    width: 95%;
    text-align: center;
    margin: 10px 10px; 
    overflow-wrap: break-word;
}

.name-exercise {
    grid-area: name;
    box-sizing: border-box;
    width: 98%;
    margin: 1%;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: #393939;
    border: 0;
}

.extraExercisesContainer {
    background-color: rgba(52, 52, 52, 0.75);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 400px;
}

.extraExerciseButton {
    display: grid;
    width: 98%;
    border: none;
    margin: 0.5% 0;
    grid-template-columns: 20% 70% 10%;
    grid-template-areas: "img name tick";
    grid-template-rows: 60px;
    gap: 0;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: white;
    cursor: pointer;
}

.extraExerciseImage {
    grid-area: img; 
    max-width: 80%; 
    max-height: 80%;
    align-self: center;
    justify-self: center;
    object-fit: contain;
}

.extraExerciseButton .name {
    grid-area: name;
    align-self: center;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    overflow-wrap: break-word;
    text-align: left;
}

.confirmation-dialog {
    height: 120px;
    border: solid 10px #1D1C1C;
    border-radius: 25px;
    background-color: #575757;
}

#confirmation-dialog-title {
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    background-color: #393939;
    border-color: #1D1C1C;
    padding: 10px;
}

.dialog-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.button-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.yes-button,
.no-button {
    height: 100%;
    width: 25%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 25px;
    background-color: #393939;
    border: 5px solid rgba(173, 173, 173, 1);
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
}

.yes-button:hover,
.no-button:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1024px) {
    .confirmation-dialog {
        width: 325px;
        height: 150px;
    }

    #confirmation-dialog-title {
        width: 100%;
        font-size: x-large;
        margin-bottom: 10px;
    }

    .button-group {
        height: 50px;
    }

    .yes-button,
    .no-button {
        height: 50px;
        font-size: x-large;
    }
}

@media screen and (max-width: 400px) {
    .confirmation-dialog {
        width: 260px;
    }

    #confirmation-dialog-title {
        height: 50px;
        width: 100%;
        font-size: medium;
    }

    .button-group {
        height: 35px;
    }

    .yes-button,
    .no-button {
        width: 80px;
        font-size: x-large;
    }
}


.extraExerciseButton .tick {
    grid-area: tick;
    align-self: center;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: green;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px; /* Позиция сверху */
    font-size: 17px;
}

#confirmation-dialog-title-snackbar {
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    background-color: #393939;
    border-color: #1D1C1C;
    padding: 10px;
}

.close-confirmation-dialog-snackbar {
    width: 50%;
    padding: 0.5em;
    font-size: 100%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 25px;
    background-color: #393939;
    border: 5px solid rgba(173, 173, 173, 1);
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 10px;
    
}

.confirmation-dialog-snackbar {
    padding: 10px;
    border: solid 10px #1D1C1C;
    border-radius: 20px;
    background-color: #575757;
}

.close-confirmation-dialog-snackbar:hover {
    transform: scale(1.05);
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: -30px; opacity: 0;} /* Начальная позиция сверху */
    to {top: 30px; opacity: 1;} /* Конечная позиция сверху */
}

@keyframes fadein {
    from {top: -30px; opacity: 0;} /* Начальная позиция сверху */
    to {top: 30px; opacity: 1;} /* Конечная позиция сверху */
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;} /* Конечная позиция сверху */
    to {top: -30px; opacity: 0;} /* Начальная позиция сверху */
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;} /* Конечная позиция сверху */
    to {top: -30px; opacity: 0;} /* Начальная позиция сверху */
}

@media screen and (min-width: 600px) and (max-width: 1120px)  {
    .exercises_container {
        width: 70%;
        max-height: 80%;
    }
    .container{
        grid-template-rows: 70px;
    }

    .ex_button span,  
    .del_button, 
    .st_button, 
    .save_button{
        font-size: 1.3em;
        font-weight: bold;
    } 

    .menu_container{
        width: 70%;
        min-height: 7%;
        margin-top: 5%;
    } 
    
    .m_button{
        width: 30%;
        min-height: 50%;
        font-size: 1.1em;
        border-radius: 20px;
        border-width: 3px;
        border-style: solid;
        padding: 0 1%;
    } 
    .modalMain{
        width: 80%;
    }
    .modalMainExtra {
        width: 60%;
    }
    .extraExerciseButton {
        grid-template-rows: 50px;
    }
}

@media screen and (min-width: 330px) and (max-width: 600px)  {
    .exercises_container {
        width: 80%;
        max-height: 80%;
    }
    .container{
        grid-template-rows: 60px;
    }

    .ex_button span,  
    .del_button, 
    .st_button, 
    .save_button{
        font-size: 1.2em;
        font-weight: bold;
    } 

    .menu_container{
        width: 80%;
        min-height: 7%;
        margin-top: 5%;
    }
    
    .m_button{
        width: 30%;
        min-height: 50%;
        font-size: 0.8em;
        border-radius: 20px;
        border-width: 3px;
        border-style: solid;
        padding: 0 1%;
    }
    .modalMain{
        width: 90%;
    }
    .modalMainExtra {
        width: 70%;
    }
    .extraExerciseButton {
        grid-template-rows: 50px;
    }
    .extraExerciseButton .name {
        font-size: 1.2em;
    }
    .name-exercise {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 330px)  {
    .confirmation-dialog {
        min-width: 200px;
        max-width: 200px;
    }

    #confirmation-dialog-title {
        margin-bottom: 10px;
    }

    .yes-button,
    .no-button {
        width: 80px;
        height: 35px;
        font-size: medium;
    }

    .exercises_container {
        width: 90%;
        max-height: 80%;
    }

    .container{
        grid-template-columns: 90% 10%;
        grid-template-rows: 50px;
    }

    .ex_button span,  
    .del_button, 
    .st_button, 
    .save_button,
    .descriptionContainer h3 {
        font-size: 0.8em;
    } 

    .menu_container{
        display: flex;
        width: 90%;
        flex-direction: column;
    }
    
    .m_button{
        height: 30%;
        width: 100%;
        font-size: 0.8em;
        border-radius: 15px;
        border-width: 3px;
        border-style: solid;
        padding: 0 2%;
    }

    .modalMain,
    .modalMainExtra {
        width: 90%;
    }
    .extraExerciseButton {
        grid-template-rows: 30px;
        border-radius: 8px;
    }

    .name-exercise,
    .descriptionContainer p {
        font-size: 0.7em;
    }

    .extraExerciseButton .name, 
    .extraExerciseButton .tick {
        font-size: 0.6em;
    }

    .header .modalTitle,
    .header .closeButton {
        font-size: 0.9em;
    }
}
