.background {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-right-corner {
    position: absolute;
    top: 10px;
    right: 10px;
}

.google-btn {
    display: flex;
    align-items: center;
    background: white;
    color: #444;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    text-decoration: none; 
    padding: 5px; 
}

.google-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.google-icon {
    width: 20px;
    height: 20px;
}

.btn-text {
    font-size: 17px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.top-left-corner {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logout-icon {
    width: 80px;
    height: 60px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40%;
    width: 90%;
    max-width: 512px;
}

.generating-button, .adding-button, .history-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 100%;
    padding: 10px 20px;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 25px;
    background-color: #393939;
    border-color: rgba(173, 173, 173, 1);
    border-width: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.generating-button:hover, .adding-button:hover, .history-button:hover {
    transform: scale(1.05);
}

.window-adding-exercise {
    width: 90%;
    padding: 10px;
    border: 0;
    background-color: #575757;
}

.head-window-adding-exercise{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 40px;
    min-width: 160px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-weight: bold;
    color: aliceblue;
    background-color: #393939;
    margin-bottom: 10px;
}

.head-window-text {
    margin-left: auto;
    margin-right: auto;
}

.close-window-adding-exercise {
    justify-self: end;
    height: 100%;
    width: 3rem;
    color: #A16A6A;
    background-color: #1D1C1C;
}

.adding-exercise {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30px 100px;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas:
        "name name name"
        "first-explanatory-note second-explanatory-note third-explanatory-note"
        "first-download-block second-download-block description-block"
        ". done-button .";
    min-width: 160px;
    width: 100%;
}

.name-exercise {
    grid-area: name;
    box-sizing: border-box;
    width: 100%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    background-color: #393939;
    border: 0;
}

img {
    height: 100%;
    object-fit: cover;
}

.explanation-field-load-main-foto,
.explanation-field-load-instructions-foto,
.explanation-field-description-exercise-technique,
.load-main-foto,
.load-instructions-foto,
.description-exercise-technique,
#confirmation-dialog-title {
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    background-color: #393939;
    border-color: #1D1C1C;
    padding: 10px;
}

#main-foto,
#instruction-foto {
    display: none;
}

.explanation-field-load-main-foto,
.explanation-field-load-instructions-foto,
.explanation-field-description-exercise-technique {
    display: flex;
    justify-content: center;
    align-items: center;
}

.explanation-field-load-main-foto {
    grid-area: first-explanatory-note;
}

.explanation-field-load-instructions-foto {
    grid-area: second-explanatory-note;
}

.explanation-field-description-exercise-technique {
    grid-area: third-explanatory-note;
}

.load-main-foto,
.load-instructions-foto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.load-main-foto {
    grid-area: first-download-block;
}

.load-instructions-foto {
    grid-area: second-download-block;
}

.load-main-foto img,
.load-instructions-foto img {
    width: 100%;
}

.description-exercise-technique {
    text-align: start;
    grid-area: description-block;
    resize: none;
}

.download-button,
.close-confirmation-dialog {
    width: 100%;
    padding: 0.5em;
    font-size: 100%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 25px;
    background-color: #393939;
    border: 5px solid rgba(173, 173, 173, 1);
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 10px;
}

.download-button:hover {
    transform: scale(1.05);
}

.done-button {
    grid-area: done-button;
    align-self: center;
    text-align: center;
    padding: 0.5em 1em;
    font-size: 100%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 25px;
    background-color: #393939;
    border-color: rgba(173, 173, 173, 1);
    border-width: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.done-button:hover {
    transform: scale(1.05);
}

.confirmation-dialog {
    padding: 10px;
    border: solid 10px #1D1C1C;
    border-radius: 20px;
    background-color: #575757;
    max-width: 200px;
    min-width: 200px;
    max-height: 150px;
    min-height: 150px;
}

.confirmation-dialog-container {
    min-height: 150px;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.close-confirmation-dialog {
    width: 50%;
}

.close-confirmation-dialog:hover {
    transform: scale(1.05);
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px; /* Позиция сверху */
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: -30px; opacity: 0;} /* Начальная позиция сверху */
    to {top: 30px; opacity: 1;} /* Конечная позиция сверху */
}

@keyframes fadein {
    from {top: -30px; opacity: 0;} /* Начальная позиция сверху */
    to {top: 30px; opacity: 1;} /* Конечная позиция сверху */
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;} /* Конечная позиция сверху */
    to {top: -30px; opacity: 0;} /* Начальная позиция сверху */
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;} /* Конечная позиция сверху */
    to {top: -30px; opacity: 0;} /* Начальная позиция сверху */
}


@media screen and (max-width: 450px) {
    .adding-exercise {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30px 0.25fr 1fr 0.25fr 1fr 0.25fr 0.5fr;
        row-gap: 10px;
        column-gap: 10px;
        grid-template-areas:
            "name"
            "first-explanatory-note"
            "first-download-block"
            "second-explanatory-note"
            "second-download-block"
            "third-explanatory-note"
            "description-block"
            "done-button";
    }

    .button-container {
        width: 100%;
    }

    .generating-button, .adding-button, .history-button {
        font-size: 24px;
    }
}