<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CrossFIIT</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='change.css') }}">
        <script src="{{ url_for('static', filename='exercise_model.js') }}" defer></script>
    </head>
    <body class="background">
        <div class="menu_container">
            <button id="goToMain" class="m_button">На главную</m_button>
            <button id="restart" class="m_button">Рестарт</m_button>
        </div>

        <div class="exercises_container">
            {% for record in data %}
                <div class="container">
                    <button class="ex_button" data-modal-id="{{ record.id }}">
                        <img src="../static/images/{{ record.storage }}" alt="image" class="ex_image">
                        <span>{{ record.name }}</span>
                    </button>
                    <button class="del_button">
                      <img src="../static/images/delete.png" alt="image" class="del_img">
                    </button>
                </div>
            {% endfor %}
           <button class="st_button">ДОБАВИТЬ</button>
        </div>
        <div class="modal_container">
            {% for record in data %}
                <div class="modalExercise" id="modal{{ record.id }}">
                    <div class="modalMain">
                        <div class="header">
                        <h2 class="modalTitle">{{ record.name }}</h2>
                            <button class="closeButton">&#10006;</button>
                        </div>
                        <img src="../static/images/skruchivaniya-na-press.png" alt="default-img">
            
                        <div class="descriptionContainer">
                            <h3>Правила выполнения</h3>
                            <p>Упражнение нужно выполнять строго в соответствии с установленной техникой и по разрешению преподавателями</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>