<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CrossFIIT</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='change.css') }}">
        <script src="{{ url_for('static', filename='exercise_model.js') }}" defer></script>
    </head>
    <body class="background">
        <div class="exercises_container">
            {% for record in serie %}
                <div class="container">
                    <button class="ex_button" data-modal-id="{{ record.id }}">
                        <img src="../static/images/{{ record.main_photo_path }}" alt="image" class="ex_image">
                        <span>{{ record.name }}</span>
                    </button>
                    <button class="del_button">&#10006;</button>
                </div>
            {% endfor %}
           <button class="st_button">ДОБАВИТЬ</button>
        </div>
        <div class="menu_container">
            <button id="goToMain" class="m_button">На главную</m_button>
            <button id="{{serie_num}}" class="m_button saveSerie">Сохранить список</m_button>
            <button id="restart" class="m_button">Рестарт</m_button>
        </div>
        <div class="modal_container">
            {% for record in serie %}
                <div class="modalExercise" id="modal{{ record.id }}">
                    <div class="modalMain">
                        <div class="header">
                        <h2 class="modalTitle">{{ record.name }}</h2>
                            <button class="closeButton">&#10006;</button>
                        </div>
                        <img src="../static/images/skruchivaniya-na-press.png" alt="default-img">
            
                        <div class="descriptionContainer">
                            <h3>Правила выполнения</h3>
                            <p>{{ record.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="modalExtra">
            <div class="modalMainExtra">
                <div class="header">
                    <h2 class="modalTitle">Добавление упражнения</h2>
                    <button class="closeButton">&#10006;</button>
                </div>
                <input name="name-exercise" class="name-exercise" type="text" placeholder="Введите название упражнения" required>
                <div class="extraExercisesContainer">
                    {% for record in exercises %}
                        <button class="extraExerciseButton"  id="{{ record.id }}">
                            <img src="../static/images/{{ record.main_photo_path }}" alt="image" class="extraExerciseImage">
                            <span>{{ record.name }}</span>
                        </button>
                    {% endfor %}
                    <button class="save_button">СОХРАНИТЬ</button>
                </div>
            </div>
        </div>
    <dialog class="confirmation-dialog">
        <div class="dialog-container">
            <div id="confirmation-dialog-title">Вы действительно хотите удалить упражнение?</div>
            <div class="button-group">
                <button class="yes-button">Да</button>
                <button class="no-button">Нет</button>
            </div>
        </div>
    </dialog>
    </body>
</html>