<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CrossFIIT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body class="background">
    <div class="button-container">
        <button id="goToProgram" class="responsive-button">Сгенерировать программу</button>
        <button id="goToAdding" class="responsive-button">Добавить упражнение</button>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>