<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CrossFIIT</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='workout.css') }}">
        <script src="{{ url_for('static', filename='workout.js') }}" defer></script>
        <meta name="viewport" content="width=device-width">
    </head>
    <body class="background" style="background-image: url('static/images/background-change.png');">
        <div class="exercises_container">
            {% for record in serie %}
                <div class="container">
                    <button class="ex_button" data-modal-id="{{ record.id }}">
                        <img src="../static/images/{{ record.main_photo_path }}" alt="image" class="ex_image">
                        <span>{{ record.name }}</span>
                    </button>
                    <button class="del_button">&#10006;</button>
                </div>
            {% endfor %}
           <button class="st_button">ДОБАВИТЬ</button>
        </div>
        <div class="menu_container">
            <button id="goToMain" class="m_button">На главную</m_button>
            {% if current_user.is_authenticated %}
                <button class="m_button saveSerie">Сохранить программу</m_button>
                <div id="snackbar">Программа сохранена</div>
            {% else %}
                <button class="m_button saveSerie" onclick="showSnackbar()">Сохранить программу</m_button>
                <div id="snackbar">Необходима авторизация</div>
            {% endif %}
            {% if session.pop('delete_restart', None) %}
            {% else %}
                <button id="restart" class="m_button">Рестарт</m_button>
            {% endif %}
            <div id="snackbarAddExercise">Упражения добавлены</div>
        </div>
        <div class="modal_container">
            {% for record in serie %}
                <div class="modalExercise" id="modal{{ record.id }}">
                    <div class="modalMain">
                        <div class="header">
                        <h2 class="modalTitle">{{ record.name }}</h2>
                            <button class="closeButton">&#10006;</button>
                        </div>
                        <img src="../static/images/skruchivaniya-na-press.png" alt="default-img">
            
                        <div class="descriptionContainer">
                            <h3>Правила выполнения</h3>
                            <p>{{ record.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="modalExtra">
            <div class="modalMainExtra">
                <div class="header">
                    <h2 class="modalTitle">Добавление упражнения</h2>
                    <button class="closeButton">&#10006;</button>
                </div>
                <div class="extraExercisesContainer">
                    {% for record in exercises %}
                        <button class="extraExerciseButton"  id="{{ record.id }}">
                            <img src="../static/images/{{ record.main_photo_path }}" alt="image" class="extraExerciseImage">
                            <span class="name">{{ record.name }}</span>
                            <span class="tick">&#10004;</span>
                        </button>
                    {% endfor %}
                    <button class="save_button">СОХРАНИТЬ</button>
                </div>
            </div>
        </div>
    {% if current_user.is_authenticated %}
        <dialog class="confirmation-dialog-snackbar" aria-labelledby="confirmation-dialog-title">
            <div class="confirmation-dialog-container-snackbar">
                <div id="confirmation-dialog-title-snackbar">Вы можете найти сохраненную программу на главной странице</div>
                <button class="close-confirmation-dialog-snackbar">OK</button>
            </div>
        </dialog>
    {% endif %}
    <dialog class="confirmation-dialog">
        <div class="dialog-container">
            <div id="confirmation-dialog-title">Вы действительно хотите удалить упражнение?</div>
            <div class="button-group">
                <button class="yes-button">Да</button>
                <button class="no-button">Нет</button>
            </div>
        </div>
    </dialog>
    <dialog class="reboot-confirmation-dialog">
        <div class="reboot-dialog-container">
            <div id="reboot-confirmation-dialog-title">Вы действительно хотите обновить программу упражнений?</div>
            <div class="reboot-confirmation-dialog-button-group">
                <button class="yes-button">Да</button>
                <button class="no-button">Нет</button>
            </div>
        </div>
    </dialog>
    </body>
</html>